@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: "PoppinsSemiBold";
  src: url("../fonts/Poppins-SemiBold.ttf");
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

body {
  margin: 0;
  padding: 0;
}

h1,
h3,
p,
ul {
  margin: 0;
}

button {
  border: none;
}

.container {
  max-width: 1180px;
  padding-inline: 40px;
  margin-inline: auto;
}

.header {
  height: 80px;
  width: 100%;
  padding-inline: 85px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 2;
}

.header__logo__link {
  font-family: "PoppinsSemiBold";
  font-size: 24px;
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.header__logo__image {
  margin-right: 15px;
}

.header__menu__list {
  list-style: none;
  display: flex;
}

.header__menu__item {
  margin-right: 30px;
}

.header__menu__link {
  font-family: "PoppinsSemiBold";
  text-decoration: none;
  color: white;
  font-size: 18px;
  text-transform: uppercase;
  transition: color 0.2s ease;
}

.header__menu__link:hover {
  color: #4c70ef;
}

.hero {
  position: relative;
}

.hero__image {
  display: block;
  width: 100%;
}

.hero__content {
  color: white;
  position: absolute;
  top: calc(50% + 80px);
  left: 0;
  right: 0;
  max-width: 500px;
  margin-inline: auto;
  text-align: center;
  transform: translateY(calc(-50% - 40px));
}

.hero__socials__list {
  list-style: none;
  display: flex;
  justify-content: center;
}

.hero__socials__item {
  margin-right: 25px;
  background-color: white;
  border-radius: 50%;
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__undertitle {
  font-family: "PoppinsSemiBold";
  font-size: 24px;
  margin-bottom: 30px;
}

.hero__title {
  font-family: "PoppinsSemiBold";
  font-size: 64px;
  margin-bottom: 30px;
}

.content {
  color: #b0adad;
  overflow: hidden;
  background-color: #212121;
}

.about {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

.about__media {
  flex: 0 1 550px;
  min-width: 550px;
  margin-right: 50px;
}

.about__content {
  flex-grow: 1;
  padding-top: 20px;
}

.about__content__subtitle {
  text-transform: uppercase;
  color: #4c70ef;
  letter-spacing: 1px;
  font-size: 24px;
  font-family: "PoppinsSemiBold";
  margin-bottom: 15px;
}

.about__content__title {
  color: white;
  font-size: 36px;
  font-family: "PoppinsSemiBold";
  margin-bottom: 20px;
}

.about__content__text {
  color: #b0adad;
  font-size: 18px;
  font-family: "Poppins";
}

.about__content__text > p {
  margin-bottom: 15px;
}

.service {
  padding-top: 120px;
}

.service__heading {
  text-align: center;
}

.service__heading__subtitle {
  text-transform: uppercase;
  color: #4c70ef;
  letter-spacing: 1px;
  font-size: 24px;
  font-family: "PoppinsSemiBold";
  margin-bottom: 15px;
}

.service__heading__title {
  color: white;
  font-family: "PoppinsSemiBold";
  font-size: 36px;
  margin-bottom: 45px;
}

.service__content {
  display: flex;
  justify-content: center;
}

.service__item {
  border-radius: 12px;
  background-color: #292c36;
  max-width: 480px;
  padding: 30px 25px 20px;
  margin-inline: 20px;
}

.service__item:last-of-type {
  margin-right: 0;
}

.service__item__header {
  align-items: center;
  display: flex;
  padding-left: 20px;
  margin-bottom: 25px;
}

.service__item__media {
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #38405a;
  height: 66px;
  margin-right: 15px;
  width: 66px;
}

.service__item__text {
  color: white;
  font-family: "PoppinsSemiBold", sans-serif;
  font-size: 24px;
  line-height: 36px;
}

.service__item__content__text {
  color: #b0adad;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}

.portfolio {
  padding-top: 120px;
}

.portfolio__heading {
  text-align: center;
}

.portfolio__heading__subtitle {
  text-transform: uppercase;
  color: #4c70ef;
  letter-spacing: 1px;
  font-size: 24px;
  font-family: "PoppinsSemiBold";
  margin-bottom: 15px;
}

.portfolio__heading__title {
  color: white;
  font-family: "PoppinsSemiBold";
  font-size: 36px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 45px;
}

.portfolio__content {
  display: flex;
  justify-content: center;
}

.portfolio__item {
  background-color: #292c36;
  border-radius: 12px;
  margin-right: 20px;
  overflow: hidden;
}

.portfolio__item:last-of-type {
  margin-right: 0;
}

.portfolio__item__image {
  margin-bottom: 20px;
}

.portfolio__item__title {
  color: white;
  margin-bottom: 15px;
  font-size: 20px;
  font-family: "Poppins";
  text-transform: capitalize;
}

.portfolio__item__title,
.portfolio__item__button {
  margin-left: 25px;
}

.portfolio__item__button {
  color: white;
  background-color: #558fff;
  appearance: none;
  border-radius: 6px;
  cursor: pointer;
  padding: 0 18px;
  height: 40px;
  margin-bottom: 20px;
  font-family: "Poppins";
  font-size: 14px;
  letter-spacing: 1px;
}

.portfolio__item__button:hover {
  background-color: white;
  color: #558fff;
}

.contact {
  margin-bottom: 120px;
  padding-top: 120px;
}

.contact__bg {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: #292c36;
  border-radius: 12px;
  max-width: 980px;
  height: 277px;
  margin-inline: auto;
}

.contact__title {
  text-align: center;
  margin-bottom: 32px;
  color: white;
  font-size: 32px;
  font-family: "Poppins";
  line-height: 48px;
}

.contact__button {
  cursor: pointer;
  color: white;
  background-color: #558fff;
  border-radius: 6px;
  font-family: "Poppins";
  font-size: 14px;
  line-height: 21px;
  width: 133px;
  height: 41px;
}

.contact__button:hover {
  background-color: white;
  color: #558fff;
}

.footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: #292c36;
  width: 100%;
  height: 156px;
}

.footer__title {
  color: white;
  font-size: 32px;
  font-family: "Poppins";
  line-height: 48px;
  margin-bottom: 8px;
}

.footer__text {
  color: white;
  font-size: 16px;
  font-family: "Poppins";
  line-height: 24px;
  text-transform: uppercase;
}

/* ===================================== */
/* =============== TABLET ============== */
/* ===================================== */

@media (max-width: 1023px) {
  .container {
    padding-inline: 15px;
  }

  .header {
    padding-inline: 20px;
  }

  .hero__title {
    font-size: 36px;
    line-height: 1;
    margin-bottom: 30px;
  }

  .about {
    flex-direction: column;
    padding-top: 50px;
  }

  .about__media {
    flex-basis: auto;
  }

  .service {
    padding-top: 50px;
  }

  .portfolio {
    padding-top: 50px;
  }

  .contact {
    margin-bottom: 50px;
    padding-top: 50px;
  }
}

/* ===================================== */
/* =============== MOBILE ============== */
/* ===================================== */

@media (max-width: 767px) {
  .header {
    background-color: #212121;
    flex-direction: column;
    height: auto;
    padding-block: 20px;
    position: static;
    row-gap: 20px;
  }

  .header__menu__link {
    white-space: nowrap;
  }

  .hero__image {
    min-height: 235px;
  }

  .hero__content {
    top: 50%;
    transform: translateY(-50%);
  }

  .hero__title {
    margin-bottom: 15px;
  }

  .hero__undertitle {
    margin-bottom: 15px;
  }

  .about__media {
    margin-right: 0;
    min-width: 0;
  }

  .about__content {
    text-align: justify;
  }

  .service__content {
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
  }

  .service__item {
    margin-right: 0;
    margin-left: 0;
  }

  .service__item__header {
    padding-left: 0;
  }

  .portfolio__content {
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
  }

  .portfolio__item {
    margin-right: 0;
    max-width: 350px;
  }

  .portfolio__item__image {
    height: 280px;
    object-fit: cover;
    width: 100%;
  }

  .contact__title {
    font-size: 32px;
    padding-inline: 10px;
  }
}
